<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.zhang.mybatisplus.mapper.OrdersMapper">

<!--    用${}是来拼接SQL语句 而#{}是用来给预编译SQL注入参数-->
    <select id="findOrdersById" resultType="org.zhang.mybatisplus.bean.Orders">
        select * from orders ${ew.customSqlSegment}
    </select>
    <select id="selectCustomPage" resultType="org.zhang.mybatisplus.bean.Orders">
        select orders.*,`user`.user_name from orders,`user`
        where orders.user_id = `user`.id
    </select>
</mapper>